page-dashboard {
	.button{
		bottom: 10px;
		right: 10px;
		z-index: 9999;
		border-radius: 50%;
		color: white;
		position: fixed;
		font-size: 16px;
		font-weight: 700;
		width: 56px;
		height: 56px;
	}
}
