@import "node_modules/bootstrap/scss/bootstrap";

.content{
	background: url('../assets/img/bg7.jpg') no-repeat center center fixed;
	background-size: cover;
}

.header{
	background-color: $primary-color;
	color: white !important;

	.segment-button{
		color: white;
	}
}

.item{
	background-color: transparent;

	.label{
		color: $primary-color;
	}
}

.button-danger{
	color: $danger-color !important;
}

.fixed-bottom-btn{
	font-weight: 700;
	bottom:0;
	left:0;
	position: fixed;
}